/*GENERAL STYLING*/

h1, h2, h3, h4, h5, h6, button, .nav-link {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, button {
  text-align: center;
}

p {
  font-size: 14px;
}

button:hover {
  cursor: pointer;
  background-color: #C12B2C;
  color: #FFFFFF;
  transition: 0.5s;
}

input, input.form-control, input:focus, input.form-control:focus, select {
  background-color: #000000;
  border: 0;
  border-radius: 0.4em;
  padding: 0.4em;
  color: #FFFFFF;
  margin: 0.2em 0;
  font-size: 14px;
}

button:disabled {
  background-color: #585858;
  color: #A7A7A7;
  cursor: not-allowed;
}

.heading-hr {
  width: 5em;
  background-color: #C12B2C;
  height: 0.2em;
}

#top-movies, #featured-events, #sports, #offers, #footer {
  padding: 5vh 0;
}

#homepage, #movies-page, #choosing-seats, #choosing-snacks, #login, #register, #booking-confirmation, #checkout {
  margin-top: 3em;
}

/*Navbar Styling*/

.navbar {
  background-color: #000;
}

.navbar a.nav-link {
  color: #FFF;
  font-weight: bold;
}

.active>.nav-link {
  color: #C12B2C;
}

.right-aligned-content {
  font-size: 0.8em;
}

.right-aligned-content button {
  border: 0;
  border-radius: 8px;
}

button.nav-link {
  color: #000;
  background-color: #FFF;
}

button.nav-link:hover {
  cursor: pointer;
  background-color: #C12B2C;
  color: #FFFFFF;
  transition: 0.5s;
}

li a:hover {
  text-decoration: none;
}

.navbar-toggler-icon {
  color: #FFFFFF;
}

/* Footer styling*/

#footer {
  background: linear-gradient(to right, rgba(230, 115, 34, 1), rgba( 193, 43, 44, 1));
  color: #FFFFFF;
}

.create-profile {
  background-color: #070707;
  padding: 2vh;
  border-radius: 0.4em;
}

.create-profile img {
  width: 100%;
  height: auto;
}

.create-profile button {
  width: 100%;
  border: 0;
  border-radius: 0.4em;
  text-transform: none;
}

.sign-in {
  background: #000000;
  color: #FFFFFF;
}

.newsletter-subcription input {
  font-size: 10px;
}

.newsletter-subcription button {
  color: #FFFFFF;
  background: #C12B2C;
  border: 0;
  border-radius: 0.4em;
  font-size: 10px;
}

.footer-link {
  color: #FFFFFF;
}

a.footer-link:hover {
  color: #000000;
}

/*HOMEPAGE STYLING*/

/*Jumbotron styling*/

#homepage .jumbotron {
  height: 45vh;
  background: url("assets/Home-page-image.jpg") no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  #homepage .jumbotron {
    height: 30vh;
  }
}

/*Featured events + Sports styling*/

#homepage #featured-events {
  text-align: center;
}

#homepage .card-img-top {
  height: 10em;
  background-repeat: no-repeat;
  background-size: cover;
}

#homepage .event-month {
  color: #C12B2C;
}

#homepage .event-name {
  text-align: left;
  border-left: 1px solid #C12B2C;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #homepage .event-name {
    text-align: left;
    border-left: 0;
  }
  #homepage #featured-events p {
    text-align: center;
  }
}

#homepage .event-tag-section button {
  text-align: left;
}

#homepage button.event-tag {
  font-size: 8px;
  color: #808080;
  background-color: #FFFFFF;
  border: 1px solid #808080;
  border-radius: 0.4em;
}

#homepage button.buy-event-ticket {
  background-color: #C12B2C;
  color: #FFFFFF;
  border: 0;
  font-size: 10px;
  text-align: center;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
  #homepage .event-tag-section {
    text-align: center;
  }
}

/*Top Movies styling*/

.nav-pills .nav-link {
  color: #000000;
  background-color: #A9A9A9;
  border-radius: 0;
  font-weight: bold;
  border: 0.5px solid #000000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #808080;
  color: #000000;
}

#top-movies h5 {
  text-align: center;
}

#top-movies img {
  width: 100%;
  min-height: 35vh;
  max-height: 35vh;
}

/* Offers styling */

#offers {
  text-align: center;
}

#offers .fas {
  font-size: 32px;
}

#offers button {
  border: 1px solid #000000;
  border-radius: 2px;
  font-weight: bold;
}

/*MOVIES PAGE STYLING*/

/*Search bar styling*/

#movies-page .jumbotron {
  height: 45vh;
  background: url("assets/Home-page-image.jpg") no-repeat;
  background-size: cover;
  padding-top: 2em;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

/*
.item-1 {
  background: url("movie-posters/incredibles-two.jpg") no-repeat;
  height: 45vh;
  background-position: right;
}*/

.inner-addon {
  position: relative;
  font-size: 20px;
}

.inner-addon .fa {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.left-addon .fa {
  left: 0px;
  color: #FFFFFF;
}

.left-addon input {
  padding-left: 50px;
  background-color: #252525;
  width: 60%;
  float: none;
  margin: auto;
}

.left-addon input::placeholder {
  color: #CDCDCD;
}

.left-addon input:focus {
  background-color: #252525;
  color: #FFFFFF;
}

.filter {
  text-align: center;
}

.fa-map-marker-alt {
  color: #FFFFFF;
  background-color: #C12B2C;
  border-radius: 0.4em;
  font-size: 20px;
}

#movies-page .cinema {
  width: 10vw;
}

#movies-page .genre {
  width: 20vw;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  #movies-page .cinema, #movies-page .genre {
    width: 100%;
    margin: 0.4em;
  }
  .left-addon input {
    width: 100%;
  }
}

/*Filter Styling*/

#movies-page .filter select {
  background-color: #000000;
  color: #FFFFFF;
  border: 0;
  border-radius: 0.4em;
}

a.reset {
  color: #000000;
  text-decoration: underline;
}

a.reset:hover, .movie-details h1 {
  color: #C12B2C;
}

/*Movie details styling*/

..movie-poster {
  display: none;
}

.load-more-button {
  text-align: center;
}

.load-more-button button {
  text-transform: uppercase;
  padding: 1em 2em;
  color: #FFFFFF;
  background-color: #C12B2C;
  border: 0;
  border-radius: 0.4em;
}

.load-more-button button:hover {
  background-color: #000000;
}

#movies-page h5 {
  text-align: left;
}

#movies-page .movie-tags span, #movies-page .age-restriction {
  background-color: #272727;
  color: #FFFFFF;
  padding: 0.4em;
  margin: 2px;
  border-radius: 0.4em;
  font-size: 10px;
}

#movies-page a.trailer {
  font-size: 20px;
  color: #000000;
}

#movies-page .book-movie {
  background-color: #C12B2C;
  border: 0;
  color: #FFFFFF;
}

.tab-content img, .tab-content h5, .tab-content p {
  cursor: pointer;
}

/* Book Now Jumbotron styling*/

#movies-page .movie-details, #movies-page #book-movie-step-1 {
  display: none;
}

#movies-page .jumbotron {
  background-color: #252525;
  color: #FFFFFF;
}

#movies-page .jumbotron input {
  background-color: #000000;
  border: 0;
  border-radius: 0.4em;
  padding: 0.4em;
  color: #FFFFFF;
}

#movies-page .jumbotron button {
  border-radius: 0.4em;
  background-color: #C12B2C;
  color: #FFFFFF;
  border: 0;
  padding: 2px0.4em;
}

#movies-page .jumbotron button:disabled {
  background-color: #585858;
  color: #A7A7A7;
  cursor: not-allowed;
}

/*Watch Trailer styling*/

#movies-page .modal-header {
  border: 0;
}

#movies-page .modal-content {
  padding: 0 50px 50px 50px;
  margin-top: 70px;
}

/*REGISTER AND LOGIN PAGE STYLING*/

#register, #login, #choosing-seats, #choosing-snacks, #booking-confirmation, #checkout {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(255, 255, 255, 1));
  background-repeat: no-repeat;
}

#register h2, #login h2 {
  color: #FFFFFF;
}

#register .jumbotron, #login .jumbotron {
  background-color: #252525;
  color: #FFFFFF;
}

#register .jumbotron label, #login.jumbotron label {
  margin-top: 0.4em;
}

#register .jumbotron input, #register .jumbotron input:focus, #login .jumbotron input, #login .jumbotron input:focus {
  background-color: #000000;
  border: 0;
  border-radius: 0.4em;
  padding: 0.4em;
  color: #FFFFFF;
}

#register .jumbotron button, #login .jumbotron button {
  border-radius: 0.4em;
  background-color: #C12B2C;
  color: #FFFFFF;
  border: 0;
  padding: 10px 15px;
  font-size: 24px;
}

#register .jumbotron .club-card {
  padding: 10px 0;
}

/*Login modal styling*/

#login .modal-footer button {
  background-color: #C12B2C;
  color: #FFFFFF;
  border-radius: 0.4em;
  border: 0;
}

#login input {
  border: 0;
  border-bottom: 1px solid #A7A7A7;
}

/*BOOKING PAGE STYLING*/

/*General styling*/

#choosing-seats .jumbotron, #choosing-snacks .jumbotron, #booking-confirmation .jumbotron, #checkout .jumbotron {
  background-color: #252525;
  color: #FFFFFF;
}

#choosing-seats h2, #choosing-snacks h2, #choosing-snacks h6, #booking-confirmation h2, #booking-confirmation h5, #booking-confirmation h6, #checkout h2, #checkout h6 {
  color: #FFFFFF;
  text-align: left;
}

#choosing-snacks hr, #booking-confirmation hr, #checkout hr {
  background-color: #FFFFFF;
}

/*Screen styling*/

.box {
  width: 100%;
  height: 100px;
  border: solid 0.4em #33ccff;
  border-color: #33ccff transparent transparent transparent;
  border-radius: 70%/100px 100px 0 0;
}

.button {
  background-color: #BEBEBE;
  color: #000000;
  border: 0;
  margin-bottom: 1px;
  border-radius: 2px;
  font-size: 7px;
  width: 100%;
}

.seat-item:hover .button {
  background-color: #1974CE;
}

.seat-item {
  border-bottom: 2px solid #BEBEBE;
  float: left;
}

.seat-item .selected {
  background-color: #1974CE;
}

.seat-item:hover {
  border-bottom: 2px solid #1974CE;
}

.row-name {
  color: #BEBEBE;
}

.movie-vouchers {
  color: #FFFFFF;
}

.seat-buttons {
  float: right;
}

button.another-movie-button {
  background-color: #000000;
  color: #FFFFFF;
}

#choosing-seats button, #choosing-snacks button, #booking-confirmation button {
  border: 0;
  text-transform: none;
  padding: 0.4em 10px;
}

.movie-vouchers h3, .snack-details h6 {
  text-align: left;
}

.snack-addition {
  background-color: #000000;
  width: 100%;
}

.snack-image {
  border-bottom: 2px solid #252525;
}

.snack-addition .row {
  text-align: center;
  padding-top: 10px;
}

.snack-addition .fa-plus, .snack-addition .fa-minus {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 2px;
}

#choosing-snacks button {
  float: right;
}

a.back {
  color: #FFFFFF;
}

#booking-confirmation img {
  width: 100%;
}

.booking-total, .checkout-buttons {
  float: right;
}

.edit-booking {
  background-color: #000000;
  color: #FFFFFF;
}

.terms {
  color: #FFFFFF;
  text-decoration: underline;
}

.payment-options p {
  float: right;
}

.payment-options img {
  height: 2em;
  width: 5em;
}

.pay-button {
  float: right;
}

.pay-button button {
  border: 0;
  border-radius: 0.4em;
  padding: 0.4em 15px;
  font-size: 20px;
}
